
@{
    ViewBag.Title = "Backstage";
    Layout = "_BackstageLayout.cshtml";//This allows to use a different layout, this is a copy from _Layout found in shared, this file is located in the Views/Home
}

<h2>Backstage</h2>

You Rock!